# =====================
# DATA
# =====================
*.csv
data_pfe/
data/
datasets/

# =====================
# OUTPUT / REPORTS
# =====================
output/
outputs/
reports/
plots/

# =====================
# MODELS
# =====================
models/
*.pkl
*.joblib
*.h5

# =====================
# ENVIRONMENT
# =====================
.venv/
env/
__pycache__/
*.pyc

# =====================
# IDE
# =====================
.vscode/
.idea/